body{
	background-color: #171a1c!important;
}

#track_bg{
	position: fixed;
	width: 100%;
	/*max-height: 900px;*/
	z-index: -10;
	
}
#table_bg{
	position: absolute;
	width: 100%;
	z-index: -10;
	
}
.result-container{
	border: 1px solid white;
	height: 200px;
	width: 340px;
}
.image-holder{
	display: inline-block;
	padding: 10px;
}
.result-box{
	width: 220px;
	height: 100px;
	border: 1px solid white;
}


.loading_animation_con img{
	width: 100px;
}


.loading_animation_con {
	width: 100vw;
	height: 100vh;
	position: fixed;
	text-align: center;
	padding-top: 5%;
	color: white;
}