.clear{
    clear: both;
    content: "";
    display: block;
}
body{
	background-color: #171a1c!important;
}

#track_bg{
	position: fixed;
	width: 100%;
	/*max-height: 900px;*/
	z-index: -10;
	
}
#table_bg{
	position: absolute;
	width: 100%;
	z-index: -10;
	
}
.result-container{
	border: 1px solid white;
	height: 200px;
	width: 340px;
}
.image-holder{
	display: inline-block;
	padding: 10px;
}
.result-box{
	width: 220px;
	height: 100px;
	border: 1px solid white;
}


.loading_animation_con img{
	width: 100px;
}


.loading_animation_con {
	width: 100vw;
	height: 100vh;
	position: fixed;
	text-align: center;
	padding-top: 5%;
	color: white;
}

#resultDirect {
    width: 100%;
    background-color: #37aee2;
    height: 50px;
    color: white;
    border:none;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 1em;
}

.gameInfo{
    height:40px;
    width: 100%;
    padding: 5px;
    text-align: left;
}

.g-info{
    display: inline-block;
    float: left;
    color: #d4d4d4;
    font-weight: 900;
}
.lvl {
width: 18%;
}
.hashCode{
/*    width: 80%;*/
    cursor: pointer;
}
.g-info span{
    color: #727577!important;
}

.modal-body h2 {
    font-size: 16px;
    margin-bottom: 0;
}

.modal-body p {
    color: #81bf39;
    font-size: 16px;
    margin-top: 0;
    direction: block;
}
.modal-dialog {
    max-width: 100%!important;
}

.modal-content {
    background-color: #2c2f36!important;
    color: white;
    overflow: auto;
}

.modal-body{
    border: none!important;
}

.modal-header{
    border: none!important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}